*{
    margin: 0%;
}

.jugador1{
    width: 25%;
    height: 100vh;
    background-color: rgb(59, 88, 59);
    float: left;
    border-radius: 15px;

}

.jugador2{
    width: 25%;
    height: 100vh;
    background-color: rgb(59, 88, 59);
    float: right;
    border-radius: 15px;
    
    
}

.img{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    margin-left: 85px;
}

.img2{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    margin-left: 150px;
}

.juego{
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    float: left;
    display: flex;
    justify-content: center;
}

.contriki{
    width: 366px;
    height: 366px;
    background-color: rgb(0, 0, 0);
    float: left;
}


.triki{
    width: 120px;
    height: 120px;
    border: 1px solid black;
    float: left;
    box-shadow: 0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(216, 207, 207),
    0 0 20px rgb(220, 211, 211),
    0 0 20px rgb(223, 223, 223),
    0 0 40px rgb(0, 0, 0),
    0 0 40px rgb(0, 0, 0);
    ;
}


